PORT=3210
HUBSTUDIO_API_BASE=http://127.0.0.1:6873
HUBSTUDIO_API_TOKEN=
HUBSTUDIO_PROFILE_NAMES=女装希音1,女装希音2,希音9,希音61,希音68,希音75,希音78,希音G1_001,希音G1_002,希音G1_003,希音G1_004,希音90
SHEIN_NEW_PRODUCT_NEGOTIATION_URL="https://sso.geiwohuo.com/#/spmp/commdities/list"
RETRY_ATTEMPTS=3
RETRY_DELAY_MS=1000
